<div ng-controller="gallaryController">
<div style="margin-left:180px;" class="container">
<h2 style="padding-left:250px;">GALLARY</h2>
<div class="row">
<div class="col-md-3">
<img src="images/s1.jpg" class="img-rounded" alt="Cinque Terre" width="330px" height="180px">
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/s2.jpg" class="img-rounded" alt="Cinque Terre" width="330px" height="180px">
</div>
</div><br>

<div class="row">
<div class="col-md-3 ">
<img src="images/s3.jpg" class="img-rounded" alt="Cinque Terre" width="330px" height="180px">
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/s1.jpg" class="img-rounded" alt="Cinque Terre" width="330px" height="180px">
</div>
</div><br>
<div class="row">
<div class="col-md-3 ">
<img src="images/s2.jpg" class="img-rounded" alt="Cinque Terre" width="330px" height="180px">
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/s3.jpg" class="img-rounded" alt="Cinque Terre" width="330px" height="180px">
</div>
</div>
</div>

</div>